#wrapper {
    height: auto;
    min-height: 100%;
    /* padding-bottom: 120px; */
    /* display: grid;
    grid-template-rows: 30% 60%;
    align-content: start; */
    padding: 15px 0px;
}
footer {
    height: 120px;
    position: relative;
    /* transform: translateY(-100%); */
}
#mypage_top {
    /* border-bottom: 2px solid orange; */
    width: 1000px; height: 120px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 0px;
}
#myinfo {
    margin-left: 15px;
    width: 1000px;
    padding-top: 10px;
}
#user_emoji {
    float: left;
    width: 100px; height: 100px;
    font-size: 70px;
}
#message {
    border: transparent;
    width: 100px; height: 100px;
    font-size: 70px;    
}
#myinfo dl {
    position: relative;
    top: 5px;
    line-height: 30px;
}
#myinfo dl dt h2 {
    display: inline;
    font-size: 30px;
}
#userId {
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    margin-right: 4px;
}
#editbtn {
    position: relative;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
    position: absolute;
    top: 39px;
}
#emoji_btn_area {
    position: absolute;
    top: 250px;
    left: 300px;
    z-index: 5;
}
#mypageImg:not(div .emoji-picker) {
    left: 0; right: 0;
    height: 300px;
    background: url("../img/mypage.jpg") no-repeat center;
    background-size: 1800px;
    /* background-size: contain; */
    opacity: 0.55;
    pointer-events: none;
    /* border-top: 5px solid #FA914B; */
}
#imgText {
    color : black;
    position: absolute;
    top: 350px;
    width: 100%;
    text-align: center;
}

#container {
    margin: 40px auto;
    width: 1000px;
    /* height: 500px; */
    display: flex;
}
#mypage_nav {
    box-shadow: 0px 5px 15px rgb(179, 179, 179);
    height: 162px;
    border-radius: 10px;
}
#mypage_nav > div {
    font-family: 'TmoneyRoundWindExtraBold';
    text-align: center;
    /* margin-top: 10px;
    padding-bottom: 10px; */
    font-size: 23px;
    color: white;
    width: 135px;
    padding: 10px;
    background-color: #FA914B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#mypage_nav ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 15px;
    line-height: 35px;
    height: 100px;

    border: 2px solid #FA914B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#mypage_nav ul li > div{
    text-align: left;
    cursor: pointer;
}
#mypage_nav ul li > div:hover {
    color: #FC6B0A;
}
#mypage_content {
    width: 100%;
    height: 100%;
    font-size: large;
    margin-left: 40px;

}
#mypage_list{
    margin: 0;
}
.mypage #title1,
.mypage #title2 {
    /* display: none; */
    margin-top: 5px;
}
#like_list{
    /* display: none; */

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.like_shop {
    margin: 5px;
    padding-right: 10px;
    font-size: 20px;
}
.like_img {
    margin-top: 3px;
    margin-bottom: 10px;
    height: 270px;
    width: 350px;
    /* height: contain; */
    background-size: contain;
}
.like_shop .like_title {
    display: inline;
}
.like_shop .like_rate {
    color: rgb(255, 204, 34);
}
#myStoreForm, #myPostForm {
    border: 3px solid #FA914B55;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
}
#mypost_list {
    display: flex;
    flex-direction: column;
}
.mypost {
    margin:10px;
}
.mypost .mypost_image {
    float: left;
    width: 120px;
    height: 100px;
    background-size: contain;
    margin-right: 20px;
}
.mypost .mypost_title {
    display: inline;
    font-weight: 600;
}
.mypost .mypost_rate {
    font-weight: 600;
    color: rgb(255, 209, 23);
    letter-spacing: 2px;
}
.mypost .mypost_content {

    margin: 5px;
    color: rgb(133, 133, 133);
}

#myinfo #emoji_btn {
    border: transparent;
    background: #FA914B;
    border-radius: 5px;
    font-size: 10px;
    color: white;
    padding: 5px;
    cursor: pointer;
}
#myinfo #donebtn {
    border: transparent;
    background: #FA914B;
    border-radius: 5px;
    font-size: 10px;
    color: white;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
#myinfo #emoji_btn:hover,
#myinfo #donebtn:hover {
    background: #FC6B0A;
}
form #user_emoji {
    margin-top: -16px;
}