
#menuTitle {
    width: 1100px;
    margin: 20px auto 5px auto;
    font-size: 40px;
    text-align: left;
    font-family: 'TmoneyRoundWindExtraBold';
    padding-right: 200px;
}

#container {
    width: 1300px;
    height: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-between;

    
}
#comment1 {
    width: 1300px;
    padding-left: 20px;
    margin: 20px auto;
    font-size: large;
}

.food_list li {
    float: left;
    padding: 0px 10px;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}
.food_list .food_type {
    color: gray;
    font-size: small;
    line-height: 1px;
}
.food_list .rest_info {
    font-weight: 800;
    font-size: larger;
}
.food_list .rest_info .rest_rate {
    color: rgb(255, 204, 34);
}
#f1 {
    width: 300px;
    margin: 30px auto;
}

div.p1 {
    width: 300px;
    margin: 0 auto;
}
.gnb{
    width: 100%;
}


.center {
    width: 60%;
    padding: 0;
    height: 50px;
}

#gnb_label {
    width: 60%;
    height: 20px;
    font-size: small;
    color: gray;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

#search {
    width: 400px;
    height: 35px;
    margin: 5px auto;
}

#navi {
    display: flex;
    padding-left: 0px;
    margin: 3px 0px;
}

#navi li {
    list-style: none;
    margin: 0px auto;
    float: left;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: orangered;
}

.food_list {
    margin: 0 auto;
}
.food_list img {
    width: 290px; height: 260px;
    padding-bottom: 2px;
}
.food_list .food_type {
    color: rgb(156, 156, 156);
    font-size: small;
    line-height: 1px;
}
.food_list .rest_info {
    font-weight: 500;
    font-size: larger;
    margin-bottom: 50px;
}
.food_list .rest_info .rest_rate {
    color: rgb(255, 204, 34);
}