<style>
    #f1 {
        width: 300px;
        margin: 30px auto;
    }

    div.p1 {
        width: 300px;
        margin: 0 auto;
    }
    #sform {
        display: inline-block;
        text-align: center;
      }

</style>