#container {
    width: 1000px;
    height: 100%;
    margin: 20px auto;
}
#container #comment1 {
    margin-left: 10px;
    margin-bottom: 10px;
}
.food_list {
    list-style: none;
}
.food_list img {
    width: 290px; height: 260px;
    padding-bottom: 8px;
}
.food_list li {
    float: left;
    padding: 3px 10px;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.food_list .food_type {
    color: gray;
    font-size: small;
    line-height: 13px;
}
.food_list .rest_info {
    font-weight: 800;
    font-size: larger;
}
.food_list .rest_info .rest_rate {
    color: rgb(255, 204, 34);
}
