
#container {
    width: 1300px;
    height: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-between;
    font-family: 'Pretendard-Regular';
    
}
#comment1 {
    width: 1300px;
    padding-left: 20px;
    margin: 20px auto;
    font-size: large;
}
.food_list {
    margin: 0 auto;
}
.food_list img {
    width: 290px; height: 260px;
    padding-bottom: 2px;
}
.food_list .food_type {
    color: gray;
    font-size: small;
    line-height: 1px;
}
.food_list .rest_info {
    font-weight: 500;
    font-size: larger;
    margin-bottom: 50px;
}
.food_list .rest_info .rest_rate {
    color: rgb(255, 204, 34);
}
