#wrapper {
    height: auto;
    min-height: 100%;
    /* padding-bottom: 120px; */
}
footer {
    height: 120px;
    position: relative;
    /* transform: translateY(-100%); */
}
#f1 {
    width: 300px;
    margin: 30px auto;
}

div.p1 {
    width: 300px;
    margin: 0 auto;
}
.gnb{
    width: 100%;
}

.center {
    width: 60%;
    padding: 0;
    height: 50px;
}

#gnb_label {
    width: 60%;
    height: 20px;
    font-size: small;
    color: gray;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

#search {
    width: 400px;
    height: 35px;
    margin: 5px auto;
}

#navi {
    display: flex;
    padding-left: 0px;
    margin: 3px 0px;
}

#navi li {
    list-style: none;
    margin: 0px auto;
    float: left;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #FA914B;
}

#contaner {
    margin: 0 auto;
    width: 900px;
}

label{
    font-size: 35px;
    color:orange;
}

.star-rating {
    border:solid 0px #ccc;
    display:flex;
    flex-direction: row-reverse;
    font-size:1.7em;
    justify-content:space-around;

    text-align:center;
    width:5em;

  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color:#FA914B;
}

  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#FA914B;
}

#body3{
    width: 800px;
    height: 50%;
    margin: 10px 20px 10px 20px;
}
.postWord{


}

input[type=text]{
	width:624px;

	margin: 8px 0;
	outline: none;
	padding:8px;
	box-sizing: border-box;
	transition:.3s;
}

textarea {
	width:700px;
	border-radius:4px;
	margin: 8px 0;
	outline: none;
	box-sizing: border-box;
	transition:.3s;
}

#image_container1{
    width: 200px;
    height: 200px;
    background: #c6bbbb33;
    border: 1px;
    border-radius : 2px;
    border: 1px solid;
    border-radius: 3px;
    color: #c6bbbb33;
}
#image_container2{
    width: 200px;
    height: 200px;
    background: #c6bbbb33;
    border: 1px solid;
    border-radius: 3px;
    color: #c6bbbb33;

}

#image_container3{
    width: 200px;
    height: 200px;
    background: #c6bbbb33;
    border: 1px solid;
    border-radius: 3px;
    color: #c6bbbb33;
}

#test1{
    display: block;
    width: auto;

}
.imagePreView
{
    display: flex;
    margin: auto 0;
    width: 100%;
    justify-content: space-around;

}
#imageLabel{

    font-size: 15px;

}
.test1{
    width: 233px;
}
#boardTh5{
    width: 50px;
    padding-left: 24.5px;
    margin-top: 20px;
    font-size: 23px;
}
#boardTh4{
    padding-left: 15px;
}
#boardTh3{
    padding-left:23px;
    width: 50px;
    font-size: 23px;
    padding-top: 12px;
}
#boardTh1{
    font-size: 23px;
    width: 100px;
}
#content{
  margin-left: 25px;
}
#letterCount{
    width: 500px;
    padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 40px;
}
#addPost {
    font-size: large;
    border: none;
    border-radius: 16px;
    background: #fa914b;
    color: white;
    padding: 12px;
    font-weight: bold;
    box-shadow: 0px 5px 15px rgb(179, 179, 179);
    cursor: pointer;
    margin-bottom: 20px;

}
#addPostBtn{
    margin: 0 auto;
    width:60px;
}
#del1{
    border: none;
    border-radius: 16px;
    background: #fa914b;
    color: white;
}
#del2{
    border: none;
    border-radius: 16px;
    background: #fa914b;
    color: white;
}
#del3{
    border: none;
    border-radius: 16px;
    background: #fa914b;
    color: white;
}
#titleH1{
   width: 180px;
    background: #fa914b;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 10px;
    position: absolute;
    margin-top: 170px;
    margin-left: 30px;
    
}
.postWord{
    height: 200px;
}


#field{
    width: 800px;
    border:3px solid #FA914B55;
    border-radius: 10px;
    margin: 40px;

}
legend {
    background-color: #FA914B;
    color: #fff;
    padding: 3px 6px;
    font-size: 30px;
    padding: 10px;
    border-radius: 16px;

}
#pp{
    margin-left: 20px;
    font-size: 12px;
    color: gray;
}
