/* body {
  ::-webkit-scrollbar {
    width: 15px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #fa914b93;
  }
} */
#ResDetail_page {
  margin-top: 20px;
}
/* 상세이미지 */
#resImage {
  text-align: center;
  margin-bottom: 30px;
}
#ex {
  width: 300px;
  height: 310px;
}

@media only screen and (min-width: 320px) and (max-width: 1600px) {
  #resImage {
    height: 340px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 0;
  }
  img {
    /* height: 100%;
    width: 100px; */
  }
}

/* title */
.resaurant_title_wrap {
  display: grid;
  grid-template-columns: 10fr 1fr;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.restaurant_title {
  display: flex;
  /* margin-bottom: 10px; */
  /* display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-columns: 100px 80px; */
}

.restaurant_name {
  margin-bottom: 15px;
}

.Score {
  color: #fa914b;
  margin: auto;
  margin-left: 0px;
  margin-top: 30px;
  /* padding-top: 10px; */
  font-size: 20px;
}

#Like {
  text-align: center;
  /* margin: auto; */
  height: 40px;
}

.heart_icon {
  /* border: none;
  outline: none; */
  background-color: #00ff0000;
  font-size: 30px;
  margin: 5px;
  /* font-size: large; */
}

.heart_text {
  margin: 0px;
  font-size: small;
}

#Like:hover {
  color: #fa914b;
}

/* #resInfo {
  padding-bottom: 5px;
  font-size: small;
  color: rgb(109, 109, 109);
} */

/* 가게정보 */
#detail {
  width: 550px;
  height: 300px;
  /* font-size: small; */
  /* margin-top: 30px; */
}

#detail td {
  width: 400px;
  text-align: left;
  color: rgb(124, 124, 124);
}

.detail_contents {
  width: 800px;
  /* display: inline-block; */
  margin-top: 0px;
}

/* 위치(지도) */

#map {
  margin-left: 100px;
}
#container {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}
