@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

footer {
    font-family: 'Pretendard-Regular';
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    text-align: center;
    padding-top: 30px;
}
#footer_line {
    margin: 3px 0px;
    padding-left: 0px;
}
#footer_line li {
    list-style: none;
    display: inline-block;
    font-weight: bold;
}
#footer_info {
    display: inline-block;
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}