@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'TmoneyRoundWindExtraBold';
  margin: 8px 0 0;
}
header {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  float: left;
  margin: 0;
}
header h1 img {
  display: block;
  width: 190px;
  height: 120px;
}
#top {
  display: flex;
  justify-content:left;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-left: 25%;
  overflow: hidden;
}

#search_container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 2px solid #FA914B;
  border-radius: 3px;
}
#search_container input {
  width: 100%;
  height: 30px;
  border: none;
  padding-left: 10px;
}
#search_container input::placeholder {
  font-family: 'Pretendard-Regular';
  font-size: 15px;
  font-weight: 500;
}
#search_container input:focus {
  border-color: white;
}
#search_container a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
i {
  color: #FA914B;
}
#util {
  text-align: center;
  position: absolute;
  right: 10%;
  display: flex;
  /* display: none; */
  justify-content: space-between;
}
#util_afterLogin {
  /* display: inline-block; */
  display: none;
  position: absolute;
  right: 10%;
}
#util_afterLogin a {
  text-decoration: none;
  color: #FA914B;
}
#util_afterLogin a i.bx-border-circle {
  border-color: #FA914B;
}
#util h4 {
  display: inline-block;
  padding: 10px;
}
#util h4 a {
  text-decoration: none;
  color: black;
  font-family: 'Pretendard-Regular';
}
header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav {
  background-color: rgba(250, 145, 75, 0.1);
  width: 100%;

}
header nav ul li {
  height: 40px;
  font-size: 17.5px;
}
header nav ul a {
  display: block;
  color: black;
  font-weight: bold;
  padding: 0 80px;
}
header nav ul li span {
  display: inline-block;
  position: relative;
  padding: 0.125rem 1.5625rem;
  line-height: 2.025rem;
  color: black;
}
header nav ul li.on span {
  font-weight: bold;
  color: #FC6B0A;
  height: 36px;
}
header nav ul li.on span:after {
  content: ""; 
  position: absolute; 
  left: 0; 
  bottom: 0; 
  width: 100%;
  height: .166rem; 
  background: #FC6B0A;
}

.hide {overflow: hidden; display: block; position: absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}